<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos</p>
    <p><a href="/quizes">Comience a jugar</a></p>
    <p><a href="https://github.com/nachoegido/quiz">Enlace al repostiorio de QUIZ</a></p>
  </body>
</html>
